<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
</head>
<body ng-app="" ng-init="name=['kota','dehli','goa']">
    
    <input type="text" ng-model="nam"><br>
    Your name is following : <br>{{nam}} <br><br>
    List of the cities you can choose: <br>
    <p ng-repeat="x in name">{{x}}</p>
    
</body>
</html>